{% extends 'admin/base.html.twig' %}

{% set title = "Les choix" %}
{% set table = true %}
{% block header %}
    <a href="{{ path('electronic_params_values_new', {electronic: electronic_id, param: param_id}) }}" class="btn btn-primary">Les choix</a>
    <a href="{{ path('electronic_params_index', {electronic: electronic_id}) }}" class="btn btn-primary">Retour</a>
{% endblock %}
