{% extends 'admin/base.html.twig' %}
{% set title = "Les produits" %}

{% set table = true %}
{% block header %}
    <a href="{{ path('product_new') }}" class="btn btn-primary">Ajouter un produit</a>
{% endblock %}