{% extends 'admin/base.html.twig' %}

{% set title = "Créer un produit" %}
{% set require = true %}
{% block header %}
    <a href="{{ path('product_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('product/_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script>
        $("#product_electronics").dropdown({
            onChange: () => {
                
            }
        })
    </script>
{% endblock %}
