{% extends 'admin/base.html.twig' %}

{% set title = "Modifier un produit sur lequel vendre" %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('electronics_index') }}" class="btn btn-primary">Retour</a>

        {{ include('admin/electronic/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}

    {{ include('admin/electronic/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
