{{form_start(form, {attr: {novalidate:"true", class:"form-inline"}})}}
    <div class="d-flex flex-row">
        {{ form_row(form.email) }}
        <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="info"></div>
{{form_end(form)}}