{% extends 'admin/base.html.twig' %}

{% set title = "Créer une catégorie" %}
{% set require = true %}
{% block header %}
    <a href="{{ path('electronic_category_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('electronic_category/_form.html.twig') }}
{% endblock %}

