{% extends 'admin/base.html.twig' %}

{% block title %}New Mark{% endblock %}
{% set title = "Ajouter une marque" %}
{% set required = true %}
{% block header %}
    <a href="{{ path('mark_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    {{ include('mark/_form.html.twig') }}
{% endblock %}
